{{/* TODO: remove filename variable */}}
{{- $filename := .filename | default "" -}}
{{- $display := site.Params.highlight.copy.display | default "hover" -}}
{{- $copyCode := (T "copyCode") | default "Copy code" -}}


<div
  class="hextra-code-copy-btn-container {{ if eq $display `hover` }}hx-opacity-0{{ end }} {{ if $filename }}
    hx-top-8
  {{ else }}
    hx-top-0
  {{ end }} hx-absolute hx-right-0 hx-m-[11px] hx-flex hx-gap-1 hx-transition group-hover/code:hx-opacity-100"
>
  <button
    class="hextra-code-copy-btn hx-group/copybtn hx-rounded-md hx-border hx-border-black/5 hx-bg-primary-700/5 hx-p-1.5 hx-text-gray-600 hx-transition-all hover:hx-text-gray-900 active:hx-opacity-50 dark:hx-border-white/10 dark:hx-bg-primary-300/10 dark:hx-text-gray-400 dark:hover:hx-text-gray-50"
    title="{{ $copyCode }}"
  >
    <div class="copy-icon hx-pointer-events-none hx-h-4 hx-w-4 group-[.copied]/copybtn:hx-hidden"></div>
    <div class="success-icon hx-pointer-events-none hx-hidden hx-h-4 hx-w-4 group-[.copied]/copybtn:hx-block"></div>
  </button>
</div>
