{{- /* 检查当前页面和父页面是否是 series 类型，同时存储祖先的深度，带缓存 */}}
{{- /* 检查当前页面和父页面是否是 series 类型，同时存储祖先的深度 */}}
{{- $storeKey := "isAncestorSeries" -}}
{{- $depth := 0 -}}

{{- if .Store.Get $storeKey -}}
  {{- $depth = (.Store.Get $storeKey) -}}
{{- else -}}
  {{- $current := . -}}
  {{- /* 检查当前页面是否为 series 类型 */}}
  {{- if eq $current.Type "series" -}}
    {{- $depth = 1 -}}
    {{/* 如果当前页面是 series，深度为 1 */}}
  {{- else if $current.Parent -}}
    {{- /* 检查父页面的缓存值，如果已经计算过，则直接使用父页面的深度值 */}}
    {{- $parentDepth := $current.Parent.Store.Get $storeKey -}}
    {{- if $parentDepth -}}
      {{- $depth = add $parentDepth 1 -}}
      {{/* 如果父页面有缓存，深度加 1 */}}
    {{- else if eq $current.Parent.Type "series" -}}
      {{- $depth = 2 -}}
      {{/* 如果父页面是 series，深度为 2 */}}
    {{- else if $current.Parent.Parent -}}
      {{- /* 如果父页面和当前页面都不是 series，再递归检查父页面的父页面 */}}
      {{- $depth = partial "utils/conditions/is-ancestor-series.html" $current.Parent.Parent -}}
      {{- if gt $depth 0 -}}
        {{- $depth = add $depth 1 -}}
        {{/* 如果递归找到祖先，深度递增 */}}
      {{- end -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- /* 缓存深度值并返回 */}}
{{ .Store.Set $storeKey $depth }}
{{ return $depth }}
