{{- $external := strings.HasPrefix .link "http" -}}
{{- $open := .open | default true -}}
<a
  class="{{- if .active }}
    sidebar-active-item hx-bg-primary-100 hx-font-semibold hx-text-primary-800 contrast-more:hx-border contrast-more:hx-border-primary-500 dark:hx-bg-primary-400/10 dark:hx-text-primary-600
    contrast-more:dark:hx-border-primary-500
  {{- else }}
    hx-text-gray-500 hover:hx-bg-gray-100 hover:hx-text-gray-900 contrast-more:hx-border contrast-more:hx-border-transparent contrast-more:hx-text-gray-900 contrast-more:hover:hx-border-gray-900
    dark:hx-text-neutral-400 dark:hover:hx-bg-primary-100/5 dark:hover:hx-text-gray-50 contrast-more:dark:hx-text-gray-50 contrast-more:dark:hover:hx-border-gray-50
  {{- end }} hx-flex hx-cursor-pointer hx-items-center hx-justify-between hx-gap-2 hx-rounded hx-px-2 hx-py-1.5 hx-text-sm hx-transition-colors [-webkit-tap-highlight-color:transparent] [-webkit-touch-callout:none] [word-break:break-word]"
  href="{{ .link }}"
  {{ if $external }}target="_blank" rel="noreferrer"{{ end }}
>
  {{- .title -}}
  {{- with .context }}
    {{- if or .RegularPages .Sections }}
      <span class="hextra-sidebar-collapsible-button">
        {{- template "sidebar-collapsible-button" -}}
      </span>
    {{- end }}
  {{ end -}}
</a>

{{- define "sidebar-collapsible-button" -}}
  <svg fill="none" viewBox="0 0 24 24" stroke="currentColor" class="hx-h-[18px] hx-min-w-[18px] hx-rounded-sm hx-p-0.5 hover:hx-bg-gray-800/5 dark:hover:hx-bg-gray-100/5">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" class="hx-origin-center hx-transition-transform rtl:-hx-rotate-180"></path>
  </svg>
{{- end -}}
