/* https://tobiasahlin.com/blog/css-trick-animating-link-underlines/ */

a.animated {
  @apply hx-bg-gradient-to-r hx-from-primary-600 hx-to-primary-600 hx-bg-no-repeat hx-no-underline;

  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 0.25rem;
  transition: background-size 0.3s ease;
  &:hover,
  &:focus {
    background-size: 100% 0.25rem;
  }
}
