{{ define "main" }}
  {{- $readMore := (T "readMore") | default "Read more →" -}}
  <div class="{{ partial `utils/page-width` . }} hx-mx-auto hx-flex">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true "displayPlaceholder" true) }}
    <article class="hx-flex hx-min-h-[calc(100vh-var(--navbar-height))] hx-w-full hx-min-w-0 hx-justify-center hx-break-words hx-pb-8 hx-pr-[calc(env(safe-area-inset-right)-1.5rem)]">
      <main class="hx-w-full hx-min-w-0 hx-max-w-6xl hx-px-6 hx-pt-4 md:hx-px-12">
        <br class="hx-mt-1.5 hx-text-sm" />
        {{ if .Title }}<h1 class="hx-mt-2 hx-text-center hx-text-4xl hx-font-bold hx-tracking-tight hx-text-slate-900 dark:hx-text-slate-100">{{ .Title }}</h1>{{ end }}
        <div class="content">{{ .Content }}</div>
        {{- $pages := partial "utils/sort-pages" (dict "page" . "by" site.Params.blog.list.sortBy "order" site.Params.blog.list.sortOrder) -}}
        {{ $paginator := .Paginate $pages 10 }}
        {{- range $paginator.Pages }}
          <div class="hx-mb-10">
            <h3><a style="color: inherit; text-decoration: none;" class="hx-mt-8 hx-block hx-text-2xl hx-font-semibold" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            {{- if site.Params.blog.list.displayTags -}}
              {{ with .Params.tags }}
                <p class="hx-text-sm hx-leading-7 hx-opacity-50">
                  {{- if reflect.IsSlice . }}
                    {{- range . }}<a class="hx-mr-2 hx-inline-block">#{{ . }}</a>{{ end -}}
                  {{- else }}
                    <a class="tw-mr-2 tw-inline-block">#{{ . }}</a>
                  {{ end -}}
                </p>
              {{ end -}}
            {{- end -}}
            <p class="hx-mt-4 hx-leading-7 hx-opacity-80">{{- partial "utils/page-description" . -}}</p>
            <p class="hx-mt-1 hx-leading-7 hx-opacity-80">
              <a class="hx-text-[color:hsl(var(--primary-hue),100%,50%)] hx-underline hx-decoration-from-font hx-underline-offset-2" href="{{ .RelPermalink }}">
                {{- $readMore -}}
              </a>
            </p>
            <p class="hx-mt-4 hx-text-sm hx-leading-7 hx-opacity-50">{{ partial "utils/format-date" .Date }}</p>
          </div>
        {{ end -}}
        {{ template "_internal/pagination.html" (dict "page" . "format" "terse") }}
      </main>
    </article>
    <div class="hx-h-0 hx-w-64 hx-shrink-0 max-xl:hx-hidden"></div>
  </div>
{{- end -}}
