{{ define "main" }}
  <div class="{{ partial "utils/page-width" . }} hx-mx-auto hx-flex">
    {{ partial "sidebar.html" (dict "context" . "disableSidebar" true) }}
    <div
      class="hx-min-h-[calc(100vh-var(--navbar-height))] hx-w-full hx-min-w-0 hx-break-words hx-pb-8 hx-pl-[max(env(safe-area-inset-left),1.5rem)] hx-pr-[max(env(safe-area-inset-left),1.5rem)] hx-pt-8 md:hx-pt-12"
    >
      <div class="hx-flex hx-flex-col hx-items-start">
        {{ .Content }}
      </div>
    </div>
  </div>
{{ end }}
